{
  "env": {
    "production": {
      "ignore": [
        "./src/**/*.spec.jsx",
        "./src/**/*.spec.js",
        "./src/**/*.stories.jsx",
        "./src/**/*.stories.js"
      ],
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}